.hero-section {
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-content: center;
    .hero-section-text {
        display: flex;
        align-items: center;
        text-align: center;
        line-height: 1.5;
        font-style: italic;
        font-weight: 100;
    }

}
.carousel-indicators [data-bs-target] {
    border-radius: 100%;
    width: 10px;
    height: 10px;
}