.project-card-wrapper {
    color: $dark;

    .project-card-text {
        text-transform: uppercase;
        font-size: 65px;
    }
    .project-card-button {
        &:hover {
            transition: .3s ease-in-out ;
        }
    }
}