.why-us-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark;

    .why-us-header {
        font-weight: 700;

        .why-us-info {
            font-weight: 300;
        }
    }

    .why-us-section-wrapper {
        .image-section {
            display: flex;
            justify-content: flex-end;
        }
    }
}