@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PPHatton-Mendium';
    src: url(./fonts/PPHatton-Medium.ttf);
}

@font-face {
    font-family: 'PPHatton-Bold';
    src: url(./fonts/PPHatton-Bold.ttf);
}

@font-face {
    font-family: 'PPHatton-Light';
    src: url(./fonts/PPHatton-Light.ttf);
}

@font-face {
    font-family: 'PPHatton-Thin';
    src: url(./fonts/PPHatton-Thin.ttf);
}

@font-face {
    font-family: 'mundial-Light';
    src: url(./fonts/MundialLight.otf);
}

@font-face {
    font-family: 'mundial-Bold';
    src: url(./fonts/MundialBold.otf);
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'PPHatton-Mendium';
}

h2 {
    font-family: 'PPHatton-Light';
    text-transform: uppercase;
}

h3 {
    font-family: 'PPHatton-Light';
    text-transform: uppercase;
    font-size: 28px;
}

h4 {
    font-family: 'PPHatton-light';
    line-height: 32px !important;
}

h5 {
    font-family: 'PPHatton-medium';
    font-size: 39px;
}

h6 {
    font-family: 'PPHatton-Light';
    font-size: 24px;
    color: rgb(0, 0, 0);

}

p,
li {
    font-family: 'PPHatton-light';
    color: rgb(0, 0, 0);
}

.textButtonWrapper {
    transition: 0.3s;
}

.textButton {
    font-size: 22px;
    border-bottom: 2px solid;
    line-height: 25px;
}

.textButtonWrapper:hover {
    color: #990000;
}

.bg {
    position: absolute;
    z-index: -2;
    width: 100%;
}

.Rectangle-1469 {
    width: 8px;
    height: 8px;
    flex-grow: 0;
    transform: rotate(-315deg);
    background-color: #000;
}

.mundial-Light {
    font-family: 'mundial-Light';
    font-size: 26px;
}
.mundial-Light-font {
    font-family: 'mundial-Light' !important;
}
.hatton-light {
    font-family: 'PPHatton-light';
}

.mundial-font {
    font-family: 'mundial-Light';
}

.mundial-Bold {
    font-family: 'mundial-Bold';
    font-size: 39px;
}

.p-dialog-mask {
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.5s ease-in;
}